body {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    padding: 30px;
    text-align: center;
}

.container {
    width: 90%;
    max-width: 600px;
    background: white;
    padding: 25px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px #bbb;
}

input, button {
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border-radius: 6px;
    border: 1px solid #888;
}

button {
    background: #0066ff;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border: none;
}

button:hover {
    background: #0048c7;
}

#preview {
    width: 100%;
    margin-top: 15px;
    border-radius: 8px;
}

#descriptionBox {
    width: 100%;
    height: 120px;
    margin-top: 15px;
    padding: 10px;
    border: 1px solid #444;
    border-radius: 6px;
}
